.sql-hl-comment {
  color: rgb(144, 164, 174);
}
.sql-hl-keyword {
  color: #f06fff;
}
.sql-hl-function {
  color: hsla(347, 83%, 60%, 1);
}
.sql-hl-number {
  color: #00ff00;
}
.sql-hl-string {
  color: #00ff00;
}
.sql-hl-identifier {
  color: hsla(175, 51%, 48%, 1);
}
.sql-hl-special {
  color: #0059ff;
}
.sql-hl-bracket {
  color: #0059ff;
}
